.container-timer {
    position: absolute;
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #000;
    background-color:aliceblue;
}